.sellers {
    display: grid;
    background-color: #2E2F42;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 250px;
    grid-gap: 10px;
    padding: 25px 25px 25px 25px;
    align-content: center;
}

.seller-card-wrapper {
    background-color: #404258;
    border-radius: 5px;
}

.seller-card-block {
    display: grid;
    align-items: center;
    grid-template-rows: 4fr;
}

.seller-card-id {
    color: #ededef;
    heigth: 30px;
    /*background-color: #0f9d58;*/
}

.seller-card-img img {
    width: 200px;
    height: 200px;
}

.seller-card-info {
    heigth: 40px;
    /*background-color: #fbc02d;*/
    color: #a3a3af;
}

.img {
    object-fit: cover;
    width: 100px;
}
