/*.album-loader {*/
/*    display: grid;*/
/*    grid-template-columns: 400px 200px;*/
/*}*/

.album-loader__counters {
    display: grid;
    grid-template-columns: 300px 100px;
    column-gap: 5px;
    align-items: center;
}

.album-loader__btn-create {
    height: 80px;
    width: 80px;
}
.album-loader__btn-refresh {
    height: 80px;
    width: 80px;
}

.album-loader__buttons {
    display: grid;
    grid-template-columns: 200px;
    column-gap: 10px;
    align-items: center;
}

/*.album-loader__btn-load {*/
/*    height: 50px;*/
/*}*/
