.check-panel {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.check-panel__counters {
    display: grid;
    grid-template-columns: 300px 100px;
    column-gap: 5px;
    align-items: center;
}

.check-panel__create {
    height: 80px;
    width: 80px;
}
.check-panel__refresh {
    height: 80px;
    width: 80px;
}

.check-panel__buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
    align-items: center;
}

.check-panel__check-albums {
    height: 50px;
}
