.group-add {
    grid-template-rows: repeat(auto-fill, 60px);
    gap: 5px;
    border: 2px solid #cea500;
}

.group-card-wrapper {
    display: grid;
    grid-template-columns: 50px 150px 200px 100px 1fr;
    height: 50px;
    width: 100%;
    border: 2px solid #74ce00;
    column-gap: 10px;
    align-content: center;
    color: #FFFFFF;
    background-color: #404258;
}

.group-add_input {
    height: 50px;
    text-align: center;
    background-color: #404258;
}

.group-card_id {
    grid-template-columns: 1fr;
}

.group-add_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.get-all-members {

}
