.photos {
    display: grid;
    background-color: #2E2F42;
    grid-gap: 10px;
    padding: 25px 25px 25px 25px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

}

.photo-card-header_avatar { grid-area: avatar}
.photo-card-header_username { grid-area: username}
.photo-card-header_date { grid-area: date}

.photo-card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 200px 200px;
    background-color: #404258;
}

.photo-card-header {
    display: grid;
    height: 50px;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 25px 25px;
    grid-template-areas: 'avatar username' 'avatar date';

}

.photo-card-body {
    height: 200px;

}

.photo-card-body_img img {
    padding-top: 5px;
    width: 100%;
}

